In [1]:
import pandas as pd
import numpy as np

In [2]:
#Create voltage column
Voltage = np.random.uniform(220, 240, size=1000)
data = {'Voltage': Voltage}
df = pd.DataFrame(data)

In [3]:
df.head()

      Voltage
0  238.888589
1  233.367361
2  220.806274
3  236.565547
4  221.309106

In [4]:
# Create Current Column
Current = np.random.uniform(0.35, 0.50, size=1000)
data1 = {'Current': Current}
df1 = pd.DataFrame(data1)

In [5]:
df1

      Current
0    0.433039
1    0.390903
2    0.375074
3    0.454200
4    0.432201
..        ...
995  0.431838
996  0.489314
997  0.467169
998  0.487280
999  0.429333

[1000 rows x 1 columns]

In [6]:
data=[df,df1]
data=pd.concat(data,axis=1)

In [7]:
data.head()

      Voltage   Current
0  238.888589  0.433039
1  233.367361  0.390903
2  220.806274  0.375074
3  236.565547  0.454200
4  221.309106  0.432201

In [8]:
#Create Power Column
# calculate the power
data['power'] = data['Current'] * data['Voltage']

In [9]:
data.head()

      Voltage   Current       power
0  238.888589  0.433039  103.448106
1  233.367361  0.390903   91.224111
2  220.806274  0.375074   82.818756
3  236.565547  0.454200  107.448050
4  221.309106  0.432201   95.650092

In [10]:
#Create Energy Consumption Column
# define the power factor and time values
power_factor = 0.8
time = 2  # in hours (h)

# calculate the energy consumption
time_sec = time * 3600  # convert time to seconds
data['energy'] = data['power'] * time_sec
data['time_consumed'] = data['energy'] / (power_factor * data['Voltage'] * data['Current'])

In [11]:
data.head()

      Voltage   Current       power         energy  time_consumed
0  238.888589  0.433039  103.448106  744826.360063         9000.0
1  233.367361  0.390903   91.224111  656813.601438         9000.0
2  220.806274  0.375074   82.818756  596295.042392         9000.0
3  236.565547  0.454200  107.448050  773625.956867         9000.0
4  221.309106  0.432201   95.650092  688680.662563         9000.0

In [12]:
data.shape

(1000, 5)

In [13]:
# save the updated dataset to a new file
df.to_csv('Final_data.csv', index=False)